<aside class="sidebar-container">
    <div class="sidebar-header">
        <img src="assets/img/Logo2.png" alt="Sprintix" class="logo">
    </div>
    
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                    <img src="assets/icons/homeicon.png" class="nav-icon"> 
                    </a>
            </li>
            <li>
                <a routerLink="/proyectos" routerLinkActive="active" class="nav-link">
                    <span style="font-size: 1.2rem;">📂</span> 
                    <span style="margin-left: 10px;">Proyectos</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <a routerLink="/login" class="nav-link logout">
            <img src="assets/icons/exiticon.png" class="nav-icon">
        </a>
    </div>
</aside>